html, body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #f4f4f4; }

header {
  height: 0.45rem;
  background: #ff8a00;
  position: relative; }
  header > label {
    position: absolute;
    right: 0.12rem;
    top: 0.15rem;
    font-size: 0.12rem;
    color: #ffe5c6; }
  header > p {
    text-align: center;
    line-height: 0.45rem;
    font-size: 0.15rem;
    color: #ffe5c6; }
    header > p > span {
      font-size: 0.12rem; }

section {
  flex: 1;
  overflow: auto; }

.sec_head {
  background: #fee7b3;
  padding-left: 0.16rem;
  padding-right: 0.19rem;
  padding-bottom: 0.06rem;
  position: relative; }
  .sec_head > dl {
    display: flex; }
    .sec_head > dl > dt {
      width: 10%;
      padding-top: 0.12rem; }
      .sec_head > dl > dt > img {
        width: 0.15rem;
        height: 0.19rem; }
    .sec_head > dl > dd {
      flex: 1;
      padding-top: 0.04rem; }
      .sec_head > dl > dd > p {
        font-size: 0.1rem;
        color: #de9248; }
      .sec_head > dl > dd > span {
        position: absolute;
        right: 0.09rem;
        top: 0.09rem;
        color: #8c7450;
        font-weight: 300; }

.sec_science {
  background: #ffffff;
  margin-top: 0.06rem;
  border-top: 1px solid #f3f3f3; }

.science_foot, .market_con {
  display: flex;
  padding-top: 0.05rem;
  background: #ffffff;
  padding-left: 0.06rem; }
  .science_foot > dl, .market_con > dl {
    flex: 1;
    display: flex; }
    .science_foot > dl > dt, .market_con > dl > dt {
      width: 25%;
      padding-bottom: 0.05rem; }
      .science_foot > dl > dt > img, .market_con > dl > dt > img {
        width: 100%;
        height: 100%; }
    .science_foot > dl > dd, .market_con > dl > dd {
      flex: 1;
      padding-left: 0rem;
      font-size: 0.12rem; }
      .science_foot > dl > dd > p, .market_con > dl > dd > p {
        color: #333333;
        padding-bottom: 0.05rem; }
      .science_foot > dl > dd > label, .market_con > dl > dd > label {
        color: orange; }
        .science_foot > dl > dd > label > time, .market_con > dl > dd > label > time {
          padding-left: 0.03rem;
          color: #cccccc;
          text-decoration: line-through; }
        .science_foot > dl > dd > label > span, .market_con > dl > dd > label > span {
          float: right;
          color: #cccccc;
          padding-right: 0.1rem; }

.science_top {
  border-bottom: 1px solid #f5f5f5;
  padding-left: 0.01rem; }
  .science_top > span {
    display: inline-block;
    width: 0.16rem;
    height: 0.17rem;
    padding-top: 0.1rem; }
    .science_top > span > img {
      vertical-align: middle;
      width: 100%;
      height: 100%; }
  .science_top > p {
    display: inline-block;
    padding-left: 0.04rem;
    font-size: 0.13rem; }
    .science_top > p > span {
      color: #d6d6d6;
      padding-left: 0.04rem;
      font-size: 0.24rem;
      vertical-align: sub; }

.sec_market {
  margin-top: 0.12rem;
  background: #ffffff;
  padding-left: 0.05rem; }

.market_con > dl dd {
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 0.2rem; }
  .market_con > dl dd strong {
    color: #333333;
    padding-left: 0.07rem; }

.taggle-checkbox {
  display: inline-block;
  margin: 13px 5px; }
  .taggle-checkbox > b {
    font-size: 0.12rem; }

.taggle-checkbox input[type='checkbox'] {
  display: none; }

.taggle-checkbox input[type='checkbox']:checked + .track span, .taggle-checkbox input[type='checkbox']:checked + .track i {
  display: block; }

.taggle-checkbox .track {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #cccccc;
  position: relative;
  vertical-align: middle; }

.taggle-checkbox .track span {
  display: none;
  width: 14px;
  height: 7px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  transform: rotate(-45deg);
  position: absolute;
  left: 0.02rem;
  top: 0.03rem; }

.taggle-checkbox .track i {
  display: none;
  position: absolute;
  left: 0.03rem;
  top: 0.03rem; }

.taggle-checkbox > time {
  display: inline-block;
  width: 0.01rem;
  height: 0.01rem; }

footer {
  height: 0.45rem;
  border-top: 2px solid #f2f2f2;
  background: #ffffff; }
  footer > ul {
    display: flex; }
    footer > ul > li {
      flex: 1;
      text-align: center;
      padding-top: 0.015rem; }
      footer > ul > li > span {
        color: #777777;
        font-size: 0.22rem; }
      footer > ul > li > p {
        color: #797979;
        font-size: 0.12rem; }
    footer > ul > li:nth-of-type(4) > span {
      color: #fb670a; }
    footer > ul > li:nth-of-type(4) > p {
      color: #f6bb87; }

.sec_fix {
  position: fixed;
  background: #ffffff;
  bottom: 0.47rem;
  width: 100%;
  height: 0.44rem; }
  .sec_fix > .price {
    float: right;
    padding-top: 0.12rem;
    font-size: 0.14rem; }
    .sec_fix > .price time {
      color: orange;
      font-weight: 300; }
    .sec_fix > .price > label {
      display: inline-block;
      width: 0.8rem;
      height: 0.31rem;
      background: orange;
      text-align: center;
      line-height: 0.31rem;
      color: #ffffff;
      font-weight: 300; }

/*# sourceMappingURL=style.css.map */
