html, body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

header {
  width: 100%;
  padding: 0.12rem 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2; }
  header > span, header time {
    position: absolute; }
  header > span {
    left: 0;
    font-size: 0.22rem;
    color: #f9f9ef;
    padding-left: 0.08rem; }
  header > time {
    right: 0;
    font-size: 0.22rem;
    color: #f9f9ef;
    padding-right: 0.12rem;
    top: 0.14rem; }
  header > p {
    width: 90%;
    text-align: center;
    border-radius: 0.2rem;
    position: relative;
    margin-left: 0.06rem; }
    header > p > input {
      width: 2.18rem;
      height: 0.26rem;
      background: #ffffff;
      border-radius: 0.2rem;
      padding-left: 0.3rem;
      border: none; }
    header > p > span {
      position: absolute;
      left: 0.27rem;
      top: 0.05rem;
      color: #9c9c9c; }

#app {
  flex: 1;
  display: flex;
  flex-direction: column; }

section {
  flex: 1;
  overflow: auto; }

.swiper-slide > img {
  width: 100%;
  height: 100%; }

article {
  background: #ffffff;
  padding: 0 0.12rem; }
  article > .mint-swipe {
    width: 100%;
    height: 0.9rem; }
    article > .mint-swipe img {
      width: 100%;
      height: 100%; }
  article > nav > ul {
    -webkit-flex-wrap: wrap;
    display: flex; }
    article > nav > ul > li {
      width: 20%;
      text-align: center;
      padding-bottom: 0.22rem; }
      article > nav > ul > li > span {
        display: inline-block;
        width: 0.34rem;
        height: 0.34rem; }
        article > nav > ul > li > span > img {
          width: 100%;
          height: 100%; }
      article > nav > ul > li > p {
        font-size: 0.12rem;
        padding-top: 0.03rem;
        color: #acacac; }

.sec_more > p {
  text-align: center;
  font-size: 0.12rem;
  color: #000000;
  background: #f0efed;
  border-radius: 0.2rem;
  padding: 0.06rem 0; }
  .sec_more > p > span {
    background: red;
    color: #e7cec8;
    margin-right: 0.04rem;
    border-radius: 0.03rem; }

.product {
  margin-top: 0.15rem;
  padding-bottom: 0.2rem;
  display: flex; }
  .product > dl {
    flex: 1; }
    .product > dl > dt {
      width: 95%; }
      .product > dl > dt > img {
        width: 100%;
        height: 100%; }
    .product > dl > dd {
      color: red;
      font-size: 0.13rem; }

.lala {
  width: 100%; }
  .lala > .zhuanshu > img {
    width: 100%;
    height: auto; }

.classify_find {
  display: flex;
  -webkit-flex-wrap: wrap; }

.child {
  width: 48%;
  border-right: 1px solid #fafafa;
  border-bottom: 1px solid #fafafa; }
  .child > h4 {
    padding-top: 0.1rem;
    padding-left: 0.1rem; }
    .child > h4 > img {
      width: 48%; }
  .child > p {
    color: #686868;
    font-size: 0.1rem;
    padding-left: 0.1rem; }
  .child > .imgs {
    display: flex; }
    .child > .imgs > p {
      flex: 1;
      padding: 0.1rem; }
      .child > .imgs > p > img {
        width: 98%; }

.bigimg {
  margin-top: 0.2rem; }
  .bigimg > p:first-of-type > img {
    width: 100%;
    height: auto; }
  .bigimg > p:last-of-type {
    width: 100%;
    height: 0.4rem;
    text-align: center; }
    .bigimg > p:last-of-type > img {
      height: 0.4rem; }

.pinzhi {
  width: 100%;
  height: 0.35rem;
  text-align: center; }
  .pinzhi > img {
    height: 0.35rem; }

.classify_find2 .child h3 {
  padding-left: 0.1rem;
  padding-bottom: 0.03rem; }

.classify_find2 .child p {
  color: #f0606a; }

.classify_find3 .child p {
  color: #e3aaee; }

.classify_find_box {
  display: flex; }
  .classify_find_box .classify_find_sub {
    flex: 1;
    border-right: 1px solid #fafafa;
    border-bottom: 1px solid #fafafa; }
    .classify_find_box .classify_find_sub > h3 {
      padding-top: 0.1rem;
      padding-left: 0.05rem;
      padding-bottom: 0.1rem; }
    .classify_find_box .classify_find_sub > p {
      box-sizing: border-box;
      color: #f0606a;
      font-size: 0.1rem;
      padding: 0 0.05rem; }
    .classify_find_box .classify_find_sub > .imgs {
      padding: 0.1rem; }
      .classify_find_box .classify_find_sub > .imgs > img {
        width: 100%; }

#wrapper {
  width: 100%;
  height: 0.84rem;
  overflow: hidden; }
  #wrapper > #sroller {
    width: 11.84rem; }

.banner_shop {
  width: 2.96rem;
  float: left; }
  .banner_shop > img {
    width: 100%;
    height: 100%;
    border-radius: 10px; }

.content {
  -webkit-flex-wrap: wrap;
  display: flex; }
  .content dl {
    width: 48%;
    display: inline-block;
    margin: 1%;
    background: #ffffff; }
    .content dl dt {
      width: 100%; }
      .content dl dt img {
        width: 100%; }
    .content dl dd {
      padding: 0.04rem; }
      .content dl dd p {
        line-height: 0.2rem; }
      .content dl dd .tit {
        color: #525254;
        font-size: 0.14rem; }
      .content dl dd .price {
        font-size: 0.12rem;
        color: red; }
      .content dl dd .bottom {
        font-size: 0.1rem;
        color: #b1b1b1;
        position: relative; }
        .content dl dd .bottom span {
          position: absolute;
          width: 0.5rem;
          height: 0.2rem;
          line-height: 0.23rem;
          text-align: center;
          right: 0.05rem;
          bottom: 0;
          color: #e3aaee;
          border: 1px solid #e3aaee; }

footer {
  height: 0.45rem;
  box-shadow: 1px 0 2px 2px #cccccc;
  z-index: 2; }
  footer > ul {
    display: flex; }
    footer > ul > li {
      flex: 1;
      text-align: center;
      padding-top: 0.03rem; }
      footer > ul > li > span {
        font-size: 0.22rem;
        font-weight: 300; }
      footer > ul > li > p {
        font-size: 0.12rem; }

.box {
  height: 100%;
  padding-top: 0.5rem; }

.bg {
  color: red; }

.active {
  background: #000000; }

/*# sourceMappingURL=style.css.map */
